.products {
	
	&__list {
		display: flex;
	}

	&__colum-two {
		margin-left: 200px;
	}
}

.products-box {
	max-width: 675px;
	margin: 33px 0 55px 0;

	&__title {
		margin-bottom: 25px;
	}

	&__text {
		margin-bottom: 15px;
	}

	&__text:last-child {
		margin: 0
	}
}