<section class="products">
	<div class="container">
		<div class="products__colum-one">
			<ul class="products__list">
				@@include('catalog-item/index.html',{
				"title": "Apparel Kids",
				"alt": "Apparel Kids",
				"img": "1",
				"link": "#"
				})
				@@include('catalog-item/index.html',{
				"title": "Holiday Shop",
				"alt": "Holiday Shop",
				"img": "2",
				"link": "#"
				})
				@@include('catalog-item/index.html',{
				"title": "Toys",
				"alt": "Toys",
				"img": "3",
				"link": "/pages/toys/index.html"
				})
			</ul>
		</div>
		<div class="products__colum-two">
			<ul class="products__list">
				@@include('catalog-item/index.html',{
				"title": "Accessories",
				"alt": "Accessories",
				"img": "4",
				"link": "#"
				})
				@@include('catalog-item/index.html',{
				"title": "Sale",
				"alt": "Sale",
				"img": "5",
				"link": "#"
				})
				@@include('catalog-item/index.html',{
				"title": "Apparel Adults",
				"alt": "Apparel Adults",
				"img": "6",
				"link": "#"
				})
			</ul>
			<section class="products-box">
				<h2 class="products-box__title title__two">Product Description</h2>
				<p class="products-box__text text">
					Interactive doll Zapf Creation Baby Born Sister can drink from a bottle and almost really cry. You can
					even
					bathe her,
					just like a little sister.
				</p>
				<p class="products-box__text text">
					A toy with a height of 43 cm bends its knees, the head rotates, it can stand upright. Such a doll will be
					an
					excellent
					choice for a gift for a girl from 4 years old.
				</p>
				<p class="products-box__text text">
					The set includes a miniature set of fashionable clothes, a hairbrush, a bottle for water, a pair of
					hairpins
					and elastic
					bands for hair, as well as two bracelets: one for the doll, the other for her young mistress.
				</p>
			</section>
		</div>
	</div>
</section>