<div class="goods">
	<div class="container">
		<ul class="goods__list">
			@@include('goods-item/index.html',{
			"title": "SHARKY BEAN BAG CHAIR COVER",
			"price": "$60.00 USD",
			"img": "1",
			"alt": "SHARKY BEAN BAG CHAIR COVER",
			}')

			@@include('goods-item/index.html',{
			"title": "BRASS DECO FRAMES",
			"price": "$66.00 USD",
			"img": "2",
			"alt": "BRASS DECO FRAMES",
			}')

			@@include('goods-item/index.html',{
			"title": "CIBO FULL APRON",
			"price": "$60.00 USD",
			"img": "3",
			"alt": "CIBO FULL APRON",
			}')

			@@include('goods-item/index.html',{
			"title": "GATCHA GATCHA GUMBALL MACHINE",
			"price": "$56.00 USD",
			"img": "4",
			"alt": "GATCHA GATCHA GUMBALL MACHINE",
			}')

			@@include('goods-item/index.html',{
			"title": "CHRISTMAS ADVENT SCENTED CANDLE",
			"price": "$29.00 USD",
			"img": "5",
			"alt": "CHRISTMAS ADVENT SCENTED CANDLE",
			}')

			@@include('goods-item/index.html',{
			"title": "TANGLE SPINNING TEA LIGHT",
			"price": "$56.00 USD",
			"img": "6",
			"alt": "TANGLE SPINNING TEA LIGHT",
			}')

		</ul>
	</div>
</div>