@import "../../components/mixin";
@import "../../components/colors";
@import "../../components/vars";

.popup {
	display: none;
	position: fixed;
	background: rgba(125, 151, 218, 0.8);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	padding: 0 20px;
}

.popup_open {
	display: flex;
}

.products {
	&__title {
		margin: 91px 0 30px 0;

		@include media($m_mob, $m_tab) {
			margin: 60px 0 24px 0;
			font-size: 36px;
			line-height: 44px;
		}

		@include media(0, $m_mob) {
			margin: 80px 0 20px 0;
			font-size: 24px;
			line-height: 29px;
			width: 287px;
		}
	}

	&__list {
		margin: 0 -10px;
		width: min-content;

		@include media($m_mob, $m_tab) {
			padding-right: 52px;
		}

		@include media(0, $m_mob--md) {
			margin-right: -20px;
			padding-right: 12px;
		}
	}

	&__item {
		@include media($m_mob, $m_tab) {
			width: 258px;
			height: 249px;
		}

		@include media(0, $m_mob) {
			width: 247px;
			height: 238px;
			margin: 0 8px;
		}
	}

	&__wrapper {
		@media (max-width: 1199px) {
			overflow-x: auto;
		}
	}

	&-bar {
		display: flex;
		align-items: center;
		margin-top: 28px;

		@include media($m_mob, $m_tab) {
			margin-top: 24px;
		}

		&__text {
			margin-left: 20px;
			width: 580px;
			margin-top: 2px;

			@include media($m_mob, $m_tab) {
				width: 630px;
			}

			@include media(0, $m_mob) {
				font-size: 14px;
				line-height: 19px;
				width: 247px;
				margin-left: 16px;
			}
		}

		&__button {
			cursor: pointer;
			width: 37px;
			height: 37px;
			background-color: rgba(112, 187, 220, 0.2);
			outline: none;
			padding: 4px;

			&:not(:last-child) {
				margin-right: 6px;
			}

			@include media(0, $m_mob) {
				margin-top: -35px;
				padding: 4px 7px;
				width: 33px;
				height: 33px;
				padding: 3px;
			}

			@include media(0, 348px) {
				margin-top: -55px;
			}
		}

		&__img {
			width: 18px;
			height: 30px;
			transition: $transition;

			&:hover,
			&:focus {
				opacity: 0.5;
			}

			&:active {
				opacity: 0.3;
			}

			&--right {
				transform: rotate(-180deg);
			}

			@include media(0, $m_mob) {
				width: 15px;
				height: 25px;
			}
		}
	}
}
