<div class="menu">
	<ul class="menu__list">
		<li class="menu__item"><a class="menu__link menu_focus" href="/pages/products/index.html">Catalog</a></li>
		<li class="menu__item"><a class="menu__link" href="">About Us</a></li>
		<li class="menu__item"><a class="menu__link" href="/pages/blog/index.html">Blog</a></li>
		<li class="menu__item"><a class="menu__link" href="/pages/animation/index.html">Animation</a></li>
		<li class="menu__item"><a class="menu__link" href="/pages/svg/index.html">Svg</a></li>
		<li class="menu__item"><a class="menu__link" href="/pages/grid/index.html">Grid</a></li>
		<li class="menu__item menu__item--bold"><a class="menu__link" href="/pages/contact-us/index.html">Contact Us</a></li>
	</ul>
</div>