<section class="delivery">
	<div class="container">
		<div class="delivery__content">
			<img class="delivery__img" src="/static/images/delivery.jpg" alt="delivery" width="480" height="559">
			<div class="delivery__info">
				<h2 class="title__two delivery__title">delivery</h2>
				<ul class="delivery__list">
					<li class="delivery__item">
						<a class="delivery__link delivery-active" href="#">Delivery</a>
					</li>
					<li class="delivery__item">
						<a class="delivery__link" href="#">Guarantee</a>
					</li>
					<li class="delivery__item">
						<a class="delivery__link" href="#">Credit</a>
					</li>
				</ul>
				<div class="delivery-bar__text">
					<p class="delivery__text text">
						Some days i feel like i've been working on dlk my entire life and there are other days that
						i am completely shocked that four years have flown by. It's simply magical.
					</p>
					<p class="delivery__text text">
						What started as an outlet to deal with the traumatic loss of my husband, dlk has now become a truly
						happy place for me
						and i have you and all of the beautiful designers that we work with to thank!
					</p>
				</div>
				@@include('button/index.html',{
				"class": "delivery__button",
				"type": "button",
				"text": "Learn More",
				"disabled": "no"
				})
			</div>
		</div>
	</div>
</section>