<div class="animation">
	<div class="animation__sky">
		<img class="animation__sun" src="/static/images/sun.png" width="59" height="60" alt="sun">
		<img class="animation__cloud animation__cloud--one" src="/static/images/cloud1.png" width="92" height="26" alt="cloud one">
		<img class="animation__cloud animation__cloud--two" src="/static/images/cloud2.png" width="186" height="38" alt="cloud two">
		<img class="animation__cloud animation__cloud--three" src="/static/images/cloud3.png" width="156" height="32" alt="cloud three">
		<img class="animation__cloud animation__cloud--four" src="/static/images/cloud4.png" width="201" height="42" alt="cloud four">
		<img class="animation__cloud animation__cloud--five" src="/static/images/cloud5.png" width="92" height="26" alt="cloud five">
		<img class="animation__cloud animation__cloud--six" src="/static/images/cloud6.png" width="185" height="34" alt="cloud six">
	</div>
	<img class="animation__city" src="/static/images/city.png" width="1585" height="630" alt="city">
	<img class="animation__car--one" src="/static/images/car-one.png" width="250" height="100" alt="car one">
	<img class="animation__car--two" src="/static/images/car-two.png" width="203" height="96" alt="car two">
	<img class="animation__car--three" src="/static/images/car-three.png" width="246" height="65" alt="car three">
	<img class="animation__car--four" src="/static/images/car-four.png" width="268" height="126" alt="car four">
	<img class="animation__lamp-bg animation__lamp-bg--left" src="/static/images/lamp-bg.png" width="150" height="388" alt="lamp">
	<img class="animation__lamp-bg animation__lamp-bg--right" src="/static/images/lamp-bg.png" width="150" height="388" alt="lamp">
	<img class="animation__taxi" src="/static/images/taxi.png" width="866" height="266" alt="taxi">
	<img class="animation__taxi--talk" src="/static/images/taxi-talk.png" width="160" height="99" alt="taxi dialog">
	<img class="animation__lamp" src="/static/images/lamp.png" width="214" height="552" alt="lamp">
	<img class="animation__man--hand" src="/static/images/man-hand.png" width="89" height="128" alt="man hand">
	<img class="animation__man" src="/static/images/man.png" width="205" height="353" alt="man">
	<img class="animation__man--talk" src="/static/images/man-talk.png" width="160" height="77" alt="man dialog">
	<img class="animation__man--talk-two" src="/static/images/man-talk-two.png" width="160" height="77" alt="man dialog">
	<img class="animation__woman" src="/static/images/woman.png" width="191" height="268" alt="woman">
	<img class="animation__woman--hand" src="/static/images/woman-hand.png" width="63" height="44" alt="woman hand">
	<img class="animation__woman--talk" src="/static/images/woman-talk.png" width="160" height="99" alt="woman dialog">
</div>