<div class="widget">
	<div class="container">
		<div class="widget__content">
			<section class="widget-design widget__design">
				<h2 class="widget-design__title title__two">design life kids</h2>
				<p class="widget-design__subtitle">About Us</p>
				<p class="widget-design__text text">Some days i feel like i've been working on dlk my entire life and there are
					other days that i am completely shocked that
					four years have flown by. It's simply magical. </p>
				@@include('button/index.html',{
				"class": "widget__button",
				"type": "button",
				"text": "Buy Now",
				"disabled": "no"
				})
			</section>
			<section class="widget-contact widget__contact">
				<h2 class="widget-contact__title title__two">contacts</h2>
				<p class="widget-contact__text text">Some days i feel like i've been working on dlk my entire life and there are
					other days that i am completely shocked that
					four years have flown by. It's simply magical.</p>
				<div class="widget__map widget-map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.62157267892!2d-122.42115798429141!3d37.775470579759364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808581479a678d2b%3A0x8234fd718e756714!2sImmersive%20Van%20Gogh%20Exhibit%20San%20Francisco!5e0!3m2!1sru!2sru!4v1626885164986!5m2!1sru!2sru"
						width="486" height="200" allowfullscreen="" title="widget map" loading="lazy" aria-hidden="false" tabindex="0" ></iframe>
				</div>
			</section>
		</div>
	</div>
</div>