@import "./mixin";
@import "./colors";
@import "./vars";

.contact-us {
	margin: 0 0 60px 0;

	@include media(0, $m_tab) {
		margin: 0 0 50px 0;
	}

	&__content {
		display: flex;
		justify-content: space-between;

		@include media(0, $m_pc) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__info {
		margin-left: 120px;
		max-width: 380px;

		@include media(0, $m_pc) {
			text-align: center;
			order: -1;
			margin: 0;
			margin-bottom: 45px;
		}

		@include media($m_mob, $m_pc) {
			max-width: 536px;
		}

		@include media(0, $m_mob) {
			margin-bottom: 25px;
		}
	}

	&__text {
		margin-bottom: 20px;

		@include media(0, $m_mob) {
			font-size: 14px;
			line-height: 19px;
		}
	}

	&__title {
		font-family: "Montserrat", "Tahoma", sans-serif;
		font-weight: 600;
		font-size: 26px;
		line-height: 34px;
		color: $c__brown;
		text-transform: uppercase;

		@include media(0, $m_mob) {
			font-size: 24px;
		}
	}
}
