@import "./mixin";
@import "./colors";
@import "./vars";

.filter {
	background: $c__blue-light;
	margin: 50px 0 60px 0;

	@include media(0, $m_tab) {
		margin: 30px 0 50px 0;
	}

	@include media(0, $m_mob) {
		display: flex;
		align-content: center;
	}

	.container-content {
		@include media(0, $m_mob) {
			margin: 0;
		}
	}

	&__button {
		margin-top: 37px;

		@include media($m_mob, $m_pc) {
			margin-right: 110px;
		}

		@include media(0, $m_mob) {
			margin-top: 25px;
			margin-left: 40%;
		}
	}
}

.filter-form {
	display: flex;
	align-items: start;
	margin: 50px 0 60px 0;
	padding: 42px 0 30px 0;
	color: $c__black;

	@include media($m_mob, $m_pc) {
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 30px 0 30px 0;
	}

	@include media(0, $m_mob) {
		flex-direction: column;
		padding: 25px 0 25px 0;
	}

	&__legend {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;

		@include media(0, $m_mob) {
			font-size: 14px;
			line-height: 19px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 22px;

		@include media(0, $m_mob) {
			font-size: 14px;
			line-height: 19px;
		}
	}

	&__field-price {
		margin-right: 94px;

		@include media($m_mob, $m_tab) {
			margin-right: 30px;
		}
	}

	&__range {
		appearance: none;
		width: 188px;
		height: 4px;
		margin: 25px 14px 16px 5px;
		background-color: rgba(0, 0, 0, 0.5);
		outline: none;

		&:hover,
		&:focus {
			background-color: $c__brown;
		}
	}

	&__range::-webkit-slider-thumb {
		appearance: none;
		width: 24px;
		height: 24px;
		background-color: $c__white;
		border: 8px solid $c__brown;
		border-radius: 50%;
		cursor: pointer;
	}

	&__range::-moz-range-thumb {
		-moz-appearance: none;
		width: 8px;
		height: 8px;
		background-color: $c__white;
		border: 8px solid $c__brown;
		border-radius: 50%;
		cursor: pointer;
	}

	&__range-box {
		display: flex;
		justify-content: space-between;
	}

	&__mob {
		display: flex;

		@include media($m_mob, $m_pc) {
		}

		@include media(0, $m_mob) {
			justify-content: space-between;
			margin-top: 25px;
		}
	}

	&__field-color {
		margin-right: 123px;

		@include media(0, $m_mob) {
			margin-right: 113px;
		}
	}

	&__list {
		margin-top: 13px;
	}

	&__checkbox {
		padding-left: 30px;

		@include media(0, $m_mob) {
			padding-left: 25px;
		}
	}

	&__item-checkbox {
		margin-bottom: 18px;

		@include media(0, $m_mob) {
			margin-bottom: 13px;
		}
	}

	&__field-delivery {
		margin-right: 69px;

		@include media(0, $m_mob) {
			margin: 0;
		}
	}

	&__item {
		margin-bottom: 12px;

		@include media(0, $m_mob) {
			margin-bottom: 16px;
		}
	}

	&__radio {
		appearance: none;
	}

	&__radio-label {
		margin-left: 26px;
		cursor: pointer;
		position: relative;

		@include media(0, $m_mob) {
			margin-left: 16px;
		}
	}

	&__radio-label::before {
		display: block;
		position: absolute;
		top: 2px;
		left: -30px;
		width: 20px;
		height: 20px;
		border: 2px solid $c__brown;
		border-radius: 50%;
		content: "";
		cursor: pointer;

		@include media(0, $m_mob) {
			width: 16px;
			height: 16px;
			left: -20px;
		}
	}

	&__radio-label::after {
		display: block;
		position: absolute;
		top: 7px;
		left: -25px;
		width: 10px;
		height: 10px;
		background-color: $c__brown;
		border-radius: 50%;
		content: "";
		cursor: pointer;
		opacity: 0;

		@include media(0, $m_mob) {
			top: 5.5px;
			width: 8px;
			height: 8px;
			left: -16px;
		}
	}

	&__radio:checked + &__radio-label::after {
		opacity: 1;
	}

	&__radio:focus ~ &__radio-label {
		text-decoration: underline;
	}

	&__radio:disabled + &__radio-label::before {
		opacity: 0.3;
	}

	&__radio:disabled + &__radio-label::after {
		opacity: 0;
	}

	&__pick {
		appearance: none;
	}

	&__field-pick {
		max-width: 240px;
		margin-right: 60px;

		@include media(0, $m_mob) {
			margin: 14px 0 0 0;
		}
	}

	&__list-pick {
		display: flex;
		margin-top: -3px;

		@include media(0, $m_mob) {
			margin-top: -10px;
		}
	}

	&__pick-label {
		cursor: pointer;
		display: block;
		width: 80px;
		padding: 9px 0 8px 0;
		text-align: center;
		background: $c__white;

		&:hover {
			background: #f3d0db;
			opacity: 0.5;
		}

		@include media(0, $m_mob) {
			padding: 6px 0;
		}
	}

	&__pick:checked + &__pick-label {
		background: #f3d0db;
	}

	&__pick:focus ~ &__pick-label {
		text-decoration: underline;
	}

	&__pick-label:active {
		background: #f3d0db;
		opacity: 0.3;
	}

	&__pick:disabled + &__pick-label {
		opacity: 0.3;
		background: $c__white;
	}
}
