$c__black: #1e0606;
$c__black-dark: #000;

$c__gray: #666;
$c__gray-bread: #8e8282;
$c__gray-light: #a2a2a2;

$c__white: #fff;

$c__blue-light: #E5EAF8;
$c__blue: #E1F0F7;

$c__brown-light: #cfaf91;
$c__brown: #C29974;

$transition: 0.4s;


