<li class="products__item ">
	<a class="products__link" href="@@link">
		<h3 class="products__item--title">@@title</h3>
		<picture>
			<source srcset="/static/images/product@@img.png, /static/images/product@@img-2x.png 2x"
				media="(min-width: 1024px)">
			<source srcset="/static/images/product@@img-tablet.png"
				media="(min-width: 481px) and (max-width: 1023px)">
			<source srcset="/static/images/product@@img-mobile.png"
				media="(max-width: 480px)">
			<img class="products__item--img" src="/static/images/product@@img.png" alt="@@alt">
		</picture>
	</a>
</li>