@@if (type === "products") {
<div class="bread-crumbs">
	<div class="container">
		<h1 class="title__page title__one">category products</h1>
		<ul class="bread-crumbs__list">
			<li class="bread-crumbs__item"><a class="bread-crumbs__link" href="/">Home</a></li>
			<li class="bread-crumbs__item"><a class="bread-crumbs__link bread-crumbs__link--gray" href="#">Catalog</a></li>
		</ul>
	</div>
</div>
}

@@if (type === "contact-us") {
<div class="bread-crumbs">
	<div class="container">
		<h1 class="title__page title__one">Contact us</h1>
		<ul class="bread-crumbs__list">
			<li class="bread-crumbs__item"><a class="bread-crumbs__link" href="/">Home</a></li>
			<li class="bread-crumbs__item"><a class="bread-crumbs__link bread-crumbs__link--gray" href="#">Contact Us</a>
			</li>
		</ul>
	</div>
</div>
}

@@if (type === "toys") {
<div class="bread-crumbs">
	<div class="container">
		<h1 class="title__page title__one">Toy for kids</h1>
		<ul class="bread-crumbs__list">
			<li class="bread-crumbs__item"><a class="bread-crumbs__link" href="/">Home</a></li>
			<li class="bread-crumbs__item"><a class="bread-crumbs__link" href="/pages/products/index.html">Catalog</a></li>
			<li class="bread-crumbs__item"><a class="bread-crumbs__link bread-crumbs__link--gray" href="#">Toys</a>
			</li>
		</ul>
	</div>
</div>
}

@@if (type === "blog") {
<div class="bread-crumbs">
	<div class="container">
		<h1 class="title__page title__one">Blog</h1>
		<ul class="bread-crumbs__list">
			<li class="bread-crumbs__item"><a class="bread-crumbs__link" href="/">home</a></li>
			<li class="bread-crumbs__item"><a class="bread-crumbs__link bread-crumbs__link--gray" href="#">Blog</a>
			</li>
		</ul>
	</div>
</div>
}

@@if (type === "svg") {
<div class="bread-crumbs">
	<div class="container">
		<h1 class="title__page title__one">svg animation</h1>
		<ul class="bread-crumbs__list">
			<li class="bread-crumbs__item"><a class="bread-crumbs__link" href="/">home</a></li>
			<li class="bread-crumbs__item"><a class="bread-crumbs__link bread-crumbs__link--gray" href="#">SVG</a>
			</li>
		</ul>
	</div>
</div>
}

@@if (type === "animation") {
<div class="bread-crumbs">
	<div class="container">
		<h1 class="title__page title__one">animation scene</h1>
		<ul class="bread-crumbs__list">
			<li class="bread-crumbs__item"><a class="bread-crumbs__link" href="/">home</a></li>
			<li class="bread-crumbs__item"><a class="bread-crumbs__link bread-crumbs__link--gray" href="#">animation</a>
			</li>
		</ul>
	</div>
</div>
}

@@if (type === "grid") {
<div class="bread-crumbs">
	<div class="container">
		<h1 class="title__page title__one">grid</h1>
		<ul class="bread-crumbs__list">
			<li class="bread-crumbs__item"><a class="bread-crumbs__link" href="/">home</a></li>
			<li class="bread-crumbs__item"><a class="bread-crumbs__link bread-crumbs__link--gray" href="#">grid</a>
			</li>
		</ul>
	</div>
</div>
}