<li class="blog__item col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<a class="blog__link" href="#">
		<picture>
		<source srcset="/static/images/blog-content@@img-mobile.jpg, /static/images/blog-content@@img-mobile-2x.jpg 2x"
			media="(max-width: 767px)">
			<source srcset="/static/images/blog-content@@img-tablet.jpg, /static/images/blog-content@@img-tablet-2x.jpg 2x"
			media="(min-width: 768px) and (max-width: 1023px)">
			<source srcset="/static/images/blog-content@@img.jpg, /static/images/blog-content@@img-2x.jpg 2x"
			media="(min-width: 1024px)">
		<img class="blog__img" src="/static/images/blog-content@@img.jpg" alt="@@alt">
			</picture>
		<p class="blog__date">@@date</p>
		<h2 class="blog__title">@@title</h2>
		<p class="blog__text">@@text</p>
	</a>
</li>