@import "./colors";

.page-paginator {
	width: 1180px;
	margin: 0 auto;
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-right: 64px;

		&:last-child {
			margin: 0;
		}
	}

	&__link {
		font-family: "Montserrat", "Tahoma", sans-serif;
		font-weight: 700;
		line-height: 19px;
		width: 10px;
		height: 20px;
		color: $c__black;
		outline: none;
		transition: 0.4s;

		&:hover,
		&:focus {
			color: #aaa;
		}
	}

	&-active {
		color: $c__brown;
	}
}

.arrow {
	background: none;
	cursor: pointer;

	&__img path {
		opacity: 0.3;
		transition: 0.4s;
	}

	&--left {
		transform: rotate(180deg);
	}

	&:hover &__img path,
	&:focus &__img path {
		stroke: $c__brown;
		opacity: 1;
	}
	&:active &__img path {
		stroke: rgba(194, 153, 116, 0.7);
		opacity: 1;
	}
	&:disabled {
		opacity: 0.2;
		pointer-events: none;
	}
}