<section class="slider">
	<div class="container">
		<div class="slider__content">
			<div class="slider__paginator slider-paginator">
				<p class="slider__number">01</p>
				<ul class="slider-paginator__list">
					<li class="slider-paginator__item">
						<button class="slider-paginator__button slider-paginator__button--active" aria-label="slide1"></button>
					</li>
					<li class="slider-paginator__item">
						<button class="slider-paginator__button" aria-label="slide2"></button>
					</li>
					<li class="slider-paginator__item">
						<button class="slider-paginator__button" aria-label="slide3"></button>
					</li>
					<li class="slider-paginator__item">
						<button class="slider-paginator__button" aria-label="slide4"></button>
					</li>
				</ul>
			</div>
			<div class="slider__info">
				<h1 class="slider__title title__one">The ooh noo collection</h1>
				<p class="slider__text">Designed in Slovenia</p>
				@@include('button/index.html',{
				"class": "slider__button button-popup-js",
				"type": "button",
				"text": "Explore Now",
				"disabled": "no"
				})
			</div>
			<picture>
			<source srcset="/static/images/slider-alien.png, /static/images/slider-alien2x.png 2x" media="(min-width: 1120px)">
			<source srcset="/static/images/slider-alien-tablet.png, /static/images/slider-alien-tablet2x.png 2x " media="(min-width: 768px) and (max-width: 1119px)">
			<source srcset="/static/images/slider-alien-mobile.png, /static/images/slider-alien-mobile2x.png 2x " media="(max-width: 767px)">
			<img class="slider__img" src="/static/images/slider-alien.png" alt="slider">
			</picture>
			<div class="slider-bottom slider__bottom">
				<p class="slider-bottom__text">free (continental) usa shipping on all orders of $100 usd or more!</p>
			</div>
		</div>
	</div>
	<div class="slider__info hidden">
		<p class="slider__title">The ooh noo collection</p>
		<p class="slider__text">Designed in Slovenia</p>
		<button class="slider__button" aria-label="slider-button" disabled>Explore now</button>
	</div>
	<div class="slider__info hidden">
		<p class="slider__title">The ooh noo collection</p>
		<p class="slider__text">Designed in Slovenia</p>
		<button class="slider__button" aria-label="slider-button" disabled>Explore now</button>
	</div>
	<div class="slider__info hidden">
		<p class="slider__title">The ooh noo collection</p>
		<p class="slider__text">Designed in Slovenia</p>
		<button class="slider__button" aria-label="slider-button" disabled>Explore now</button>
	</div>
</section>